{% extends './admin/base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% set pageTitle = 'Dashboard' %}

{% block body %}
    <h1>Hello DashboardController!</h1>
{% endblock %}
